numpy
h5py
hdf5plugin
matplotlib
scipy
scikit-learn
pandas
opencv-python
tifffile
numba
imageio
ipywidgets
ipykernel
ipympl
nbformat
joblib
argcomplete
gspread
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
